.cursor-blue {
    cursor: url('/src/images/Awkward\ Look\ Monkey\ Puppet\ Meme\ 3D\ Animated--pointer--SweezyCursors.png'), auto;
}

.cursor-green {
    cursor: url('/src/images/Dancing\ Toothless\ Meme\ Animated--pointer--SweezyCursors.png'), auto;
}

.cursor-red {
    cursor: url('/src/images/Dogecoin\ Meme--cursor--SweezyCursors.png'), auto;
}
.cursor-a {
    cursor: url('/src/images/Dogecoin\ Meme--pointer--SweezyCursors.png'), auto;
}
.cursor-b {
    cursor: url('/src/images/LeBron\ James\ You\ Are\ My\ Sunshine\ Meme--cursor--SweezyCursors.png'), auto;
}
.cursor-c {
    cursor: url('/src/images/LeBron\ James\ You\ Are\ My\ Sunshine\ Meme--pointer--SweezyCursors.png'), auto;
}
.cursor-d {
    cursor: url('/src/images/MTV’s\ New\ Logo\ Meme\ Animated--pointer--SweezyCursors.png'), auto;
}
.cursor-e {
    cursor: url('/src/images/Peppa\ Pig\ with\ Swords\ Meme\ Animated--pointer--SweezyCursors.png'), auto;
}
.cursor-f {
    cursor: url('/src/images/Skibidi\ Toilet\ Titan\ TV\ Man\ Animated--pointer--SweezyCursors.png'), auto;
}
.cursor-g {
    cursor: url('/src/images/Solo\ Cup\ Animated--pointer--SweezyCursors.png'), auto;
}
.cursor-h {
    cursor: url('/src/images/Tbh\ Creature\ Yippee\ Meme\ Animated--pointer--SweezyCursors.png'), auto;
}
.cursor-i {
    cursor: url('/src/images/What’s\ Up\ Brother\ Meme--cursor--SweezyCursors.png'), auto;
}
.cursor-j {
    cursor: url('/src/images/What’s\ Up\ Brother\ Meme--pointer--SweezyCursors.png'), auto;
}
.cursor-k {
    cursor: url('/src/images/White\ Pop\ Cat\ Animated--pointer--SweezyCursors.png'), auto;
}

