.cursor-blue {
    cursor: url('/images/1.png'), auto;
}

.cursor-green {
    cursor: url('/images/2.png'), auto;
}

.cursor-red {
    cursor: url('/images/3.png'), auto;
}
.cursor-a {
    cursor: url('/images/4.png'), auto;
}
.cursor-b {
    cursor: url('/images/5.png'), auto;
}
.cursor-c {
    cursor: url('/images/6.png'), auto;
}
.cursor-d {
    cursor: url('/images/7.png'), auto;
}
.cursor-e {
    cursor: url('/images/8.png'), auto;
}
.cursor-f {
    cursor: url('/images/9.png'), auto;
}
.cursor-g {
    cursor: url('/images/10.png'), auto;
}
.cursor-h {
    cursor: url('/images/11.png'), auto;
}
.cursor-i {
    cursor: url('/images/12.png'), auto;
}
.cursor-j {
    cursor: url('/images/13.png'), auto;
}
.cursor-k {
    cursor: url('/images/14.png'), auto;
}

